@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

.opencgl-dialog {
    -fx-border-width: 6;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}


.mfx-button {
    -fx-font-family: 'Visby Round CF Medium';
    -fx-text-fill: -mfx-text-he;
    -fx-pref-height: 27px;
    -fx-background-color: rgb(240, 240, 240);
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}

.mfx-button .text {
    -fx-background-color: red;
    -fx-font-smoothing-type: lcd;
}

.text-field {
    -fx-pref-height: 40px;
    -fx-pref-width: 400;
    -fx-font-family: 'Visby Round CF Medium';
}

.text-field .floating-text {
    -fx-font-family: 'Visby Round CF Medium';
}