.opencgl-combo-box {
    -fx-pref-height: 35px;
    -fx-pref-rows: 10;
    -fx-alignment: CENTER_RIGHT;
}

/*.opencgl-combo-box .text-field {
    -fx-alignment: CENTER_RIGHT;
}*/


.opencgl-combo-box .arrow-button{
    -fx-background-color: white;
    -fx-padding: 10;
}

.opencgl-combo-box .arrow-button .arrow {
    /*-fx-background-image: url("path/to/image.png");*/
   /* -fx-background-size: 10 10;*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}