.opencgl-vbox:hover {
    -fx-background-color: #f0f0f0;
}

.opencgl-vbox:pressed {
    -fx-background-color: #DDDDDD;
}

.opencgl-vbox {
    -fx-pref-height: 100;
    -fx-pref-width: 200;
    -fx-min-height: 100;
    -fx-min-width: 200;
    -fx-padding: 30px;
    -fx-background-insets: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 1);
}