/* 修改TabPane的Pane区域背景颜色 */
.jfx-tab-pane .tab-header-background {
    -fx-background-color: white;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: orange;
}
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: white;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: black;
}
.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: black;
    -fx-font-weight: normal ;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 16;
}
